#ifndef __CONFIG_H
  #define __CONFIG_H

  #define WIFI_SSID       "your ssid"
  #define WIFI_PASSWORD   "your wifi password"
  #define HOST            "your.domain.to.goinghome.container"
  #define PORT            80 #or 443
  #define LOOPWAIT        5

#endif
